
@{
    Layout = null;
}
@model IEnumerable<ZeonTicaret.WebUI.Models.Resim>
<div class="the-slider slider" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".slide-right" data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper">
    <div class="slide-arrows">
        <div class="slide-left"></div>
        <div class="slide-right"></div>
    </div>
    <ul class="slide-wrapper">
        @foreach (var rsm in Model)
        {
            <li class="slide"><img src="@rsm.BuyukYol" alt="slider image"></li>
        }     
    </ul>
    <ul class="the-bullets-dots" data-tesla-plugin="bullets">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
</div>